//! **************************************************************************
// Written by: Map P.20131013 on Fri Dec 11 19:53:02 2020
//! **************************************************************************

SCHEMATIC START;
COMP "MN4_P88" LOCATE = SITE "P88" LEVEL 1;
COMP "L7_P67" LOCATE = SITE "P67" LEVEL 1;
COMP "OSC_0" LOCATE = SITE "P123" LEVEL 1;
COMP "L1_P81" LOCATE = SITE "P81" LEVEL 1;
COMP "MN3_92" LOCATE = SITE "P92" LEVEL 1;
COMP "MN5_P87" LOCATE = SITE "P87" LEVEL 1;
COMP "L2_P80" LOCATE = SITE "P80" LEVEL 1;
COMP "MN6_P85" LOCATE = SITE "P85" LEVEL 1;
COMP "L3_P79" LOCATE = SITE "P79" LEVEL 1;
COMP "MN7_P84" LOCATE = SITE "P84" LEVEL 1;
COMP "MN1_P94" LOCATE = SITE "P94" LEVEL 1;
COMP "L4_P78" LOCATE = SITE "P78" LEVEL 1;
COMP "Bit<0>" LOCATE = SITE "P23" LEVEL 1;
COMP "Bit<1>" LOCATE = SITE "P21" LEVEL 1;
COMP "Bit<2>" LOCATE = SITE "P16" LEVEL 1;
COMP "Bit<3>" LOCATE = SITE "P14" LEVEL 1;
COMP "MN2_P93" LOCATE = SITE "P93" LEVEL 1;
COMP "L5_P75" LOCATE = SITE "P75" LEVEL 1;
COMP "L6_P74" LOCATE = SITE "P74" LEVEL 1;
COMP "L0_P82" LOCATE = SITE "P82" LEVEL 1;
SCHEMATIC END;

