//! **************************************************************************
// Written by: Map P.20131013 on Thu Dec 10 16:24:11 2020
//! **************************************************************************

SCHEMATIC START;
COMP "Bit2_P16" LOCATE = SITE "P16" LEVEL 1;
COMP "d_P34" LOCATE = SITE "P34" LEVEL 1;
COMP "C0_P44" LOCATE = SITE "P44" LEVEL 1;
COMP "Bit3_P14" LOCATE = SITE "P14" LEVEL 1;
COMP "e_P32" LOCATE = SITE "P32" LEVEL 1;
COMP "C1_P43" LOCATE = SITE "P43" LEVEL 1;
COMP "C2_P33" LOCATE = SITE "P33" LEVEL 1;
COMP "f_P29" LOCATE = SITE "P29" LEVEL 1;
COMP "C3_P30" LOCATE = SITE "P30" LEVEL 1;
COMP "g_P27" LOCATE = SITE "P27" LEVEL 1;
COMP "a_P41" LOCATE = SITE "P41" LEVEL 1;
COMP "b_P40" LOCATE = SITE "P40" LEVEL 1;
COMP "Bit0_P23" LOCATE = SITE "P23" LEVEL 1;
COMP "Bit1_P21" LOCATE = SITE "P21" LEVEL 1;
COMP "c_P35" LOCATE = SITE "P35" LEVEL 1;
SCHEMATIC END;

